
<article class="articulos">
  
  <div class="contenido" *ngFor=" let producto of (products | async) as productos"> 
    <div class="tarjeta">
      <div class="cajaImg">
        <img [src]="producto.image" alt="{{producto.title}}">
        <ul class="iconos">
          <li>
            <mat-icon>thumb_up_alt</mat-icon>
            <span>Agregar a Deseados</span>
          </li>
          <li>
            
            <mat-icon
              (click)="agregarArticuloTienda(producto)">
                add_shopping_cart
            </mat-icon>
            <span>Agregar a Tienda</span>
          </li>
          <li>
            <mat-icon>visibility</mat-icon>
          </li>
        </ul>
      </div>
      <div class="descripcion">
        <div class="productoNombre">
          <h3>{{producto.title}}</h3>
        </div>
        <div class="precio">
          <h2>$ {{producto.price}}</h2>
          <div class="estrella">
            <mat-icon class="estrellaDorada">grade</mat-icon>
            <mat-icon class="estrellaDorada">grade</mat-icon>
            <mat-icon class="estrellaDorada">grade</mat-icon>
            <mat-icon class="estrellaDorada">grade</mat-icon>
            <mat-icon class="estrellaGris">grade</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>